.form-body {
    background-color: #333;
}

main {
    min-height: 80vh;
}

.ib {
    display: inline-block;
}

:root {
    --base-color: #434a56;
    --white-color-primary: #f6f6f6;
    --white-color-secondary: #fefefe;
    --gray-color-primary: #e4e7e9;
    --gray-color-secondary: #c2c2c2;
    --gray-color-tertiary: #676f79;
    --active-color: #30a2d2;
    --valid-color: #44c08a;
    --invalid-color: #f72f47;
    --valid-icon: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M9.86%2018a1%201%200%200%201-.73-.32l-4.86-5.17a1%201%200%201%201%201.46-1.37l4.12%204.39%208.41-9.2a1%201%200%201%201%201.48%201.34l-9.14%2010a1%201%200%200%201-.73.33z%22%20fill%3D%22%2344c08a%22%2F%3E%3C%2Fsvg%3E");
    --invalid-icon: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M13.41%2012l4.3-4.29a1%201%200%201%200-1.42-1.42L12%2010.59l-4.29-4.3a1%201%200%200%200-1.42%201.42l4.3%204.29-4.3%204.29a1%201%200%200%200%200%201.42%201%201%200%200%200%201.42%200l4.29-4.3%204.29%204.3a1%201%200%200%200%201.42%200%201%201%200%200%200%200-1.42z%22%20fill%3D%22%23f72f47%22%20%2F%3E%3C%2Fsvg%3E");
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

.layout-enter {
    opacity: 0;
}

.layout-enter-to {
    opacity: 1;
}

.layout-enter-active {
    transition: opacity 0.4s ease-out;
}

.layout-leave {
    opacity: 1;
}

.layout-leave-to {
    opacity: 0;
}

.layout-leave-active {
    transition: opacity 0.2s ease-out;
}